* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0
}


.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* height: 20%; */
}

.header h1{
  width: 100%;
}
.secondHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.levels {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: green;
  margin: 5px;

}

.main-Game-Body {
  display: flex;
  flex-direction: row-reverse;
  /* height: 72%; : Do not give height, use flex grow*/
  flex-grow: 1;
  margin: 5px;
  padding: 4px;
}

.container {
  flex-grow: 1;
}
.hints{
cursor: pointer;
}

table{
  display: flex;
  width: 50% ;
  height: 100%;
  table-layout: fixed;
  word-break: break-word;
  background: #ddd;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: none;
}
.bcg-img{
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 50%;
}

.backUp img{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.footer {
  margin: 4px;
}

.shown {
  background-color: chartreuse;
}

.blinking {
  transition: opacity 2s ease-in-out infinite;
  animation: blinker 1s linear infinite;
  opacity: 1;
  background-color: rgb(73, 216, 85);
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5
  }
  100% {
    opacity: 0;
  }
}

.hide {
  display: none;
}

/* For Every Clickable Element, For Future Use */

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}